@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lobster&family=Shadows+Into+Light&display=swap');
.contenedor {
    background-image: url("../../assets/imagenes/WALLPAPER-13-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
    background: rgba(0, 0, 0, -0.1);
    background-size: cover;
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    background-color: rgb(255, 255, 255);
}

.nav-link.active {
    color: red;
    background-color: rgb(255, 255, 255);
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.nav-item {
    color: rgb(120, 188, 252);
}

.nav-tabs {
    background-color: rgb(255, 255, 255);
}

.nav-link {
    color: red;
    background-color: rgb(255, 255, 255);
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.h6 {
    color: rgb(255, 255, 255);
}

.form-label {
    color: rgb(252, 252, 252);
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.btn {
    background-color: transparent;
    color: red;
    border-color: red;
}

.card-body{
    color: rgb(255, 255, 255);
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}