.contenedor {
    background-image: url("../../assets/imagenes/WALLPAPER-13-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.form-group {
    color: white;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.btn {
    background-color: transparent;
    color: rgb(167, 2, 2);
    border-color: rgb(167, 2, 2);
}